.App {
  text-align: center;
}

.layout{
  display: flex;
  align-items: center;
  justify-content: center;
}

.body{
  height: 570px;
  width: 380px;
  box-shadow: rgb(85, 85, 85) 0px 0px 2.4em inset;
    -webkit-box-reflect: below 0px 
    -webkit-gradient(linear, 0% 0%, 0% 100%, 
    from(transparent), 
    color-stop(0.5, transparent), 
    to(rgba(250, 250, 250, 0.3)));
  border-radius: 30px;
  background: linear-gradient(rgb(227, 227, 227) 0%, rgb(214, 214, 214) 100%);
  /* animation: 1.5s ease 0s 1 normal none running descend; */
}
.screen{
  border: 4px solid black;
  background: white;
  border-radius: 0.5rem;
  margin:auto;
  margin-top: 10px;
  margin-bottom: 35px;
  width: 90%;
  height: 45%;
  overflow: hidden;
}

.buttons-container{
  width:100%;
  height: 220px;
}

.buttons{
  border: 1px solid rgb(185, 185, 185);
  background: white;
  margin: auto;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  position: relative;
}

.inner-disk{
    border: 1px solid rgb(185, 185, 185);;
    width: 88px;
    height: 88px;
    box-shadow: rgb(191, 191, 191) 0px 1em 3em inset; 
    border-radius: 50%;
    margin: auto;
    background: rgb(225, 225, 225); 
}

.menu{
position: absolute; 
top: 30px;
left: 87px;
max-height: 13px;
pointer-events: none;
user-select: none;
}

.play_pause{
 position: absolute;
 bottom: 30px;
 left: 93px;
 max-height: 13px;
 pointer-events: none;
 user-select: none;
}

.fastforward{
  position: absolute;
  right: 15px;
  max-height: 13px;
  pointer-events: none;
  user-select: none;
}

.rewind{
  position: absolute;
  left: 15px;
  max-height: 13px;
  pointer-events: none;
  user-select: none;
}
