.App {
  text-align: center;
}

.layout{
  display: flex;
  align-items: center;
  justify-content: center;
}

.body{
  border: 1px solid black;
  height: 570px;
  width: 400px;
}
.screen{
  border: 1px solid black;
  margin:auto;
  margin-top: 10px;
  margin-bottom: 45px;
  width: 95%;
  height: 45%;
}

.buttons-container{
  border: 1px solid black;
  width:100%;
  height: 220px;
}

.buttons{
  border: 1px solid black;
  margin: auto;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.inner-disk{
    border: 1px solid black;
    width: 88px;
    height: 88px;
    /* box-shadow: rgb(191, 191, 191) 0px 1em 3em inset; */
    margin: auto;
    border-radius: 50%;
    /* background: rgb(225, 225, 225);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(185, 185, 185); */
}