.App {
  text-align: center;
}

.layout{
  display: flex;
  align-items: center;
  justify-content: center;
}

.body{
  height: 570px;
  width: 380px;
  box-shadow: rgb(85, 85, 85) 0px 0px 2.4em inset;
    -webkit-box-reflect: below 0px 
    -webkit-gradient(linear, 0% 0%, 0% 100%, 
    from(transparent), 
    color-stop(0.5, transparent), 
    to(rgba(250, 250, 250, 0.3)));
  border-radius: 30px;
  background: linear-gradient(rgb(227, 227, 227) 0%, rgb(214, 214, 214) 100%);
  /* animation: 1.5s ease 0s 1 normal none running descend; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cont{
  height: 100%;
}

.screen{
  border: 4px solid black;
  background: white;
  border-radius: 0.5rem;
  margin:auto;
  margin-top: 10px;
  margin-bottom: 35px;
  width: 90%;
  height: 45%;
  overflow: hidden;
}

.buttons-container{
  width:100%;
  height: 220px;
}

.buttons{
  border: 1px solid rgb(185, 185, 185);
  background: white;
  margin: auto;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  position: relative;
}

.inner-disk{
    border: 1px solid rgb(185, 185, 185);;
    width: 88px;
    height: 88px;
    box-shadow: rgb(191, 191, 191) 0px 1em 3em inset; 
    border-radius: 50%;
    margin: auto;
    background: rgb(225, 225, 225); 
}

.inner-disk:active{
  box-shadow: rgb(158, 158, 158) 0px 1em 3em inset; 
}

.menu{
position: absolute; 
top: 30px;
left: 87px;
max-height: 13px;
user-select: none;
}

.play_pause{
 position: absolute;
 bottom: 30px;
 left: 93px;
 max-height: 13px;
 pointer-events: none;
 user-select: none;
}

.fastforward{
  position: absolute;
  right: 15px;
  max-height: 13px;
  pointer-events: none;
  user-select: none;
}

.rewind{
  position: absolute;
  left: 15px;
  max-height: 13px;
  pointer-events: none;
  user-select: none;
}

.inside-screen{
  /* pointer-events: none; */
  /* user-select: none; */
  height: 100%;
  width: 100%;
  border-radius: 0.25rem;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.notification-panel{
  height: 7%;
  width: 100%;
  border-bottom: 1px solid rgb(185, 185, 185);
  background: linear-gradient(0deg, rgba(214,214,214,1) 6%, rgba(227,227,227,0.94) 89%);
  text-align: start;
  position: relative;
  border-top-left-radius: 0.2rem;
}

.noty-text{
  font-size: small;
  font-weight: bold;
  position: absolute;
  left: 5px;
  bottom: 0.4px;
}

.battery{
  float: right;
}

.bat{
  height: 12px;
  padding: 3px;
}

.menu-list{
  box-shadow: black 0px 0px 24px;
  background-color: white;
  height: 99.9%;
  width: 45%;
  border-top-left-radius: 0.2rem;
  position: relative;
  z-index: 5;
}

.list{
  font-weight: bold;
  text-align: start;
}

.list div{
  padding: 5px;
}

.active{
  color: white;
  background: linear-gradient(rgb(60, 184, 255) 0%, rgb(52, 122, 181) 100%);
}

.list div span img {
  height: 17px;
  width: 17px;
  float: right;
  padding-top: 2px;
}

.rm{
  display: none;
}

.coverflow img{
  position: absolute;
  height: 100%;
  background-size: contain;
}

.bg{
  position: absolute;
  height: 100%; 
  /* 260px but ehy */
  width: 100%;
  background-size: contain;
  background: linear-gradient(rgb(177, 181, 192) 0%, rgb(104, 110, 122) 100%);
}

.games img{
  width: 100px;
  margin: 70px;
  margin-left: -70px;
}

.games div{
  position: absolute;
  bottom: 22%;
  left: 22%;
  color: white;
  text-transform: capitalize;
}

.settings img{
  margin: 90px;
  margin-left: -50px;
  height: 50px;
}

.settings div {
  position: absolute;
  bottom: 35%;
  left: 22%;
  color: white;
  font-weight: 500;
}

/* ---------- music and coverflow --------------- */

.name{
  left: 15% !important;
  bottom: 27% !important;
}

.in-coverflow{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding-top: 20px;
}

.thumbnail img{
  height: 120px;
  width: 120px;
}

.notification-panel2{
  height: 20px;
  width: 100%;
    border-bottom: 1px solid rgb(185, 185, 185);
    background: linear-gradient(0deg, rgba(214,214,214,1) 6%, rgba(227,227,227,0.94) 89%);
    text-align: start;
    position: relative;
    border-top-left-radius: 0.2rem;
}

.battery2{
  float: right;
  padding-right: 5px;
}

.mp{
  position: relative;
}

.content{
  display: flex;
  flex-wrap: nowrap;
}

.content .thumbnail img {
  padding: 20px;
  padding-top: 30px;
}

.description{
  padding-top: 30px;
}

.description div{
  text-align: start;
}

.description .songName{
  font-size: 20px;
  font-weight: bolder;
}

.artist{
  font-size: 13px;
}

.artist span{
  font-weight: 500;
}

.player{
  border: 0.4px solid lightgray;
  border-left: 0px;
  border-right: 0px;
  height: 15px;
  width: 70%;
  margin: auto;
  margin-top: 10px;
}

.fillup{
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgba(60,215,227,1) 0%, rgba(70,95,252,1) 53%);
}

.timer{
  position: absolute;
  left:20px;
  bottom: 0px;
  font-size: small;
}

.time{
  position: absolute;
  right: 20px;
  bottom: 0px;
  font-size: small;
}


/* ---------- games --------------- */
.gm{
  height: 100%;
  background: linear-gradient(rgb(177, 181, 192) 0%, rgb(104, 110, 122) 100%);
}

.gm img{
  height: 60%;
  padding: 50px;
}

/* ---------- settings --------------- */
.setting{
  height: 100%;
  padding: 50px;
}

.setting img {
  height: 100px;
}

.text{
  font-weight: bold;
}

.pod{
  margin-top: -50px;
}

